.image {
    position: relative;
    width: 450px;
    height: 250px;
    top: 30px;
    padding-left: 70px;
}

.title-card{
    color: #aa73fd;
}
h6{
    color: red;
}
.shadow-card{ /*Hover es cuando se pasa por encima*/
    box-shadow: 0px 0px 12px #4d72de;
}
.status-text{
    color: red;
}